.form_post_add{
    width: 1000px;
    margin: 100px auto;
}
body{
    background-image: url(pnda1bw.png);
}
.z{
    background-color: antiquewhite;
}

/* fieldset{
    width: 4000px;
    height: 3000px;
} */