

.content-login {
    text-align: center;
    width: 380px;
    margin: 50px auto;
    background-color: rgb(247, 3, 3);
    padding: 20px 40px;
    border-radius: 15px;
}

.copyright {
    margin-top: 50px;
    color: lightslategray;
}

.login-image {
    border-radius: 50%;
    width: 100px;
    height: 80px;
}

body {
    background-color: gainsboro;
}

.bg-orange {
    background-color: orange;
}

a{
    text-decoration: none;
}

.bg-black{
    background-color: black;
}
.text-white .nav-link{
    color: white
}
.bg-mygradient{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.form_post_add{
    width: 350px;
    margin: 50px auto;
}
.rr{
    left: 450px;
}
