<h1>Hello covid</h1


    <div class="valuta" style="width: 500px;  height: 100px; /* Размеры */
    background: #fff; /* Цвет фона */
    outline: 2px solid #000; /* Чёрная рамка */
    border: 3px solid #fff; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */">
<form action="/covid-static/" method="POST">
    <input type="text" name="city_input" placeholder="Country">

    <button style = 'background-color: navy;  color: white; font-size: 9pt';>Получить данные</button>
</form>
<p><h1>
    Подтвержденный: {{temp}} <br>
    Выздоровел: {{temp1}} <br>
    Летальные исходы: {{temp2}} <br>
    Страна: {{temp3}} <br>
    Площадь: {{temp4}} <br>
    Продолжительность жизни: {{temp5}}
</h1>
    
</p>
