<!doctype html>
<html lang="kg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Мой кошелеки</title>
</head>
<body>
    <h1>{{ title }}</h1>

    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/time">Time</a></li>
    </ul>

    <ul>
        <li>Название кошелка: {{ wallet.name }}</li>
        <li>Название аккаунта: {{ wallet.account }}</li>
        <li>Сумма: {{ wallet.money }}</li>
        <li>Валюта: {{ wallet.currency }}</li>
    </ul>
    <button>Вывод на карту Optima Bank</button>
</body>
</html>